.container {
  margin-top: 20px;
  font-family: "Roboto", sans-serif;
}
h1 {
  font-size: 30px;
  position: relative;
  bottom: -10px;
}
.weather-app {
  border: 1px solid #dadde1;
  border-radius: 10px;
  padding: 20px;
}
.day-time {
  font-size: 16px;
}
form {
  padding: 10px;
}

ul {
  list-style-type: none;
  display: inline;
  padding-top: 0;
}
.forecast {
  padding-top: 15px;
  text-align: center;
}

.current-weather {
  padding-left: 45px;
}
.temperature {
  font-size: 26px;
}
.current {
  position: relative;
  bottom: -20px;
}
.units {
  font-size: 14px;
  position: relative;
  top: -20px;
  left: 34px;
}
